@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;
}

html,
body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}
